
.container-content{
    margin-left: 0px !important;
    width: 100% !important;
    margin-bottom: 50px;
}
.cards-container{
    margin-bottom: 30px;
    margin-left:90px
}
h1{
    font-family:'roboto';
    top: 8px;
    margin: 0;
    font-size:2.5rem ;
    width: 380px;
}
.descritptionCardBlog{
    font-size:1.0rem;
    width: 380px
}
.paragrahBlog{
    width: 400px;
}
.containerCards{
    width: 100%;
}

@media(min-width:800px){
    .paragrahBlog{
        font-size: 1.1rem;
        width: 800px;
    }
}