.Modalbutton{
    width:100%;
    height: 100%;
    margin-left: 0px;
    background: #121214;
}
.buttonModal{
    width:380px
}
.close{
    margin-left: 370px;
    margin-top: 20px;
}
.ContentModalButton{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 110px;
    margin-top: 80px;
}
.itemButton{
    margin-bottom:50px ;
    font-size: 1.8rem;
    font-family: 'Roboto';
}
img{
    width: 38px;
    height: 30px;
    margin-right: 8px;
    
}
.globalbutton{
    width: 100%;
}
 .burguer{
        margin-left: 90%;
        width: 70%;
    }
@media(min-width:600px){
    .Modalbutton{
        display: none;
    }
   
  
}
