.paragraph{
    padding-bottom:1.2rem;
    margin-top:2rem ;
    margin-left:0.9rem ;
    width: 450px;
}
.containerBack{
    height:50px;
    margin-right: 0;
}
.titleDrop{
    margin-left:0.9rem ;
    width: 200px;
    margin-right: 0px;
}


@media(min-width:800px){

    .ContainerModalCard{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .moving{
        display: absolute;
        left: 50px;
        top: 800px;
    }
    .paragraph{

        font-size: 1.0rem;
    }
    
}
